footer {
  height: 100px;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 33px -10px rgba(29, 228, 95, 0.308);
  -moz-box-shadow: 0px 0px 33px -10px rgba(29, 228, 95, 0.308);
  box-shadow: 0px 0px 33px -10px rgba(29, 228, 95, 0.308);
}
