<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    TODO CATEGORIES
    <p class="text-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
</div>

<!-- Search Bar -->
<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="col-md-10 form-group">
        <input type="text" class="form-control-plaintext" name="todoText"
          placeholder="Add new todos here ✍...">
      </div>

      <button type="submit" class="btn btn-success col-md-2 btn-todo btn-block">Add</button>
    </form>
  </div>
</div>


<div class="row justify-content-center todo-list ">
  <div class="col-md-6 ">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left text-secondary">
            <i class="far fa-circle text-danger"></i>
            <i class="fas fa-check text-success"></i>
            New Todo
          </div>

          <div class="float-right">
            <i class="far fa-check-circle text-success"></i>
            <i class="fas fa-times-circle text-danger"></i>
            <div class="todo-tools">
              <small>
                <i class="fas fa-pencil-alt text-warning"></i>
                <i class="fas fa-trash text-danger"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
